{% extends "front/base.html" %}
{% load staticfiles %}

{% block css %}
    .fancybox-nav {
      display:none;
    }
{% endblock %}

{% block base_content %}
    <script type="application/javascript">
        $(document).ready(function(){
            bootbox.setDefaults({
                /**
                * @optional String
                * @default: en
                * which locale settings to use to translate the three
                * standard button labels: OK, CONFIRM, CANCEL
                */
                locale: "de"
            });
            $('.del_email').click(function(e) {
                var item = this;
                var confirm_text = "Wenn Sie fortfahren, werden Bilder von SimpleCam '" + $(item).data('camera_name') + "' nicht mehr an " + $(item).closest('li').text() + "gesendet.";
                bootbox.confirm({message: confirm_text, locale: 'de', callback: function(result) {
                    if (!result) return;
                    var url = "{% url 'delete_mail_forward' camera_id=1111 address_id=2222 %}"
                            .replace(/1111/, $(item).data('camera_id'))
                            .replace(/2222/, $(item).data('address_id'))
                    $.post(url, {csrfmiddlewaretoken: '{{csrf_token}}'}, function( data ) {
                        $(item).closest('li').fadeOut(500, function(){ $(this).remove();});
                    });
                }});
            });
        });
    </script>

    {% for camera in cameras %}
        <div class="row">
            <div class="col-md-12">
                <h2>SimpleCam #{{ camera.id }}: {{ camera.name }}</h2>
                <hr/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a class="fancybox" rel="group" href="{% url 'latest_image' camera.id %}"><img width="100%" src="{% url 'latest_image' camera.id %}"/></a>
            </div>
            <div class="col-md-8">
                <p>
                    Bilder von dieser SimpleCam werden an folgende Empfänger geschickt.
                    Um einen Empfänger zu löschen, klicken sie auf das Kreuz neben dem entsprechenden Eintrag.
                    Ihre eigene Email-Adresse können Sie nicht löschen.
                </p>
                <ul class="list-unstyled">
                    <li>
                        {{ user.get_full_name }} ({{ user.email }})
                    </li>
                    {% for address in camera.email_addresses.all %}
                        <li>
                            {{ address.name }} ({{ address.address }})
                            <a href="#" class="icon del_email"
                               data-camera_id="{{ camera.id }}"
                               data-camera_name="{{ camera.name }}"
                               data-address_id="{{ address.id }}"
                               style="color:red"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></a>
                        </li>
                    {% endfor %}
                </ul>
                <button type="button" class="btn btn-primary">Weiteren Empfänger hinzufügen</button>
            </div>
        </div>
    {% endfor %}

    <script type="text/javascript">
        $(document).ready(function() {
            $(".fancybox").fancybox({
                type        : 'image',
                openEffect  : 'none',
                closeEffect : 'none',
                showNavArrows : true
            });
        });
    </script>
{% endblock %}