{% extends "front/base.html" %}
{% load staticfiles %}

{% block css %}
    .fancybox-nav {
      display:none;
    }
{% endblock %}

{% block base_content %}
    <script type="application/javascript" xmlns="http://www.w3.org/1999/html">
        function loadForwards(target) {
            var camera_id = $(target).closest('.camera-main-row').data('camera_id');
            var url = "{% url 'mail_forwards' camera_id=1111 %}"
                .replace(/1111/, camera_id);
            $(target).load(url);
        }
        function validate_camera_name(value) {
            if($.trim(value) == '') {
                return 'Bitte geben Sie einen Namen für diese SimpleCam ein.';
            }
        }
        $(document).ready(function(){
            $('.mail-forwards').on('click', '.del_email', function() {
                var item = this;
                var camera_name = $(item).closest('.camera-main-row').data('camera_name')
                var confirm_text = "Wenn Sie fortfahren, werden Bilder von SimpleCam '" + camera_name + "' nicht mehr an " + $(item).closest('li').text() + "gesendet.";
                bootbox.confirm({message: confirm_text, locale: 'de', callback: function(result) {
                    if (!result) return;
                    var camera_id = $(item).closest('.camera-main-row').data('camera_id');
                    var url = "{% url 'delete_mail_forward' camera_id=1111 address_id=2222 %}"
                            .replace(/1111/, camera_id)
                            .replace(/2222/, $(item).data('address_id'))
                    $.post(url, {csrfmiddlewaretoken: '{{csrf_token}}'}, function( data ) {
                        $(item).closest('li').fadeOut(500, function(){ $(this).remove();});
                    });
                }});
            });

            // fetch mail forwards from server
            $('.mail-forwards').each(function (i, item){
                loadForwards(item);
            });
            // initialize bootbox
            bootbox.setDefaults({
                /**
                * @optional String
                * @default: en
                * which locale settings to use to translate the three
                * standard button labels: OK, CONFIRM, CANCEL
                */
                locale: "de"
            });

            $('.addMailCollapse').on('show.bs.collapse', function() {
                var item = this;
                var camera_id = $(item).closest('.camera-main-row').data('camera_id');
                var btn = $('#addMailBtn-' + camera_id);
                $(btn).hide();
            });
            $('.addMailCollapse').on('hidden.bs.collapse', function() {
                var item = this;
                var camera_id = $(item).closest('.camera-main-row').data('camera_id');
                var btn = $('#addMailBtn-' + camera_id);
                $(btn).show();
            });
            $( ".frmAddNewMail" ).submit(function( event ) {
                var item = this;
                var camera_id = $(item).closest('.camera-main-row').data('camera_id');
                $(item).closest('div').collapse('hide');
                var formdata = $(item).serializeArray();
                formdata.push({name: 'csrfmiddlewaretoken', value: '{{csrf_token}}'});
                var url = "{% url 'add_mail_forward' camera_id=1111 %}"
                            .replace(/1111/, camera_id);
                $.post(url, formdata, function( data ) {
                        var main_row = $(item).closest('.camera-main-row');
                        var forwards = $(main_row).find('.mail-forwards');
                        loadForwards(forwards[0]);
                    });
                event.preventDefault();
            });
            $.fn.editable.defaults.mode = 'popup';
            $('.camera_name').editable({
                validate: validate_camera_name,
                placement: 'bottom',
                tpl: '<input type="text" maxlength="50">'
            });
        });
    </script>

    {% for camera in cameras %}
        <div class="row">
            <div class="col-md-12">
                <hr/>
                <h2>SimpleCam #{{ camera.id }}:
                    <a href="#" class="camera_name" id="camera{{camera.id}}" data-type="text" data-pk="{{camera.id}}" data-url="{% url 'updatecameraname' camera.id %}" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}">{{ camera.name }}</a>
                </h2>
            </div>
        </div>
        <div class="row camera-main-row" data-camera_id="{{ camera.id }}" data-camera_name="{{ camera.name }}">
            <div class="col-md-4">
                <a class="fancybox" rel="group" href="{% url 'latest_image' camera.id %}"><img width="100%" src="{% url 'latest_image' camera.id %}"/></a>
            </div>
            <div class="col-md-8">
                <p>
                    Bilder von dieser SimpleCam werden an folgende Empfänger geschickt.
                    Um einen Empfänger zu löschen, klicken sie auf das Kreuz neben dem entsprechenden Eintrag.
                    Ihre eigene Email-Adresse können Sie nicht löschen.
                </p>
                <div class="mail-forwards">
                </div>
                <div class="collapse addMailCollapse" id="addMail-{{ camera.id }}">
                    <hr>
                    <form role="form" class="frmAddNewMail" data-toggle="validator">
                        <p>
                            Geben Sie den Namen und die Email-Adresse des neuen Empfängers für Fotos von dieser SimpleCam ein.

                            Wir schicken dem Empfänger eine Einladungs-Email an die angegebene Email-Adresse. Den darin enthaltenen Bestätigungs-Link muss der Empfänger klicken,
                            bevor er Fotos erhalten kann. Die Einladungs-Email enthält Ihren Namen, damit der Empfänger weiß, woher die Einladung zu SimpleCam stammt.
                        </p>
                      <div class="form-group">
                          <label for="name" class="control-label">Name:</label>
                          <input type="text" name="name" autocomplete="off" class="form-control" data-error="Bitte geben Sie einen Namen ein." id="new-email-name" required/>
                          <div class="help-block with-errors"></div>
                      </div>
                      <div class="form-group">
                          <label for="email" class="control-label">Email:</label>
                          <input type="email" name="email" class="form-control" id="email" data-error="Bitte geben Sie eine gültige Email-Adresse ein." required/>
                          <div class="help-block with-errors"></div>
                      </div>
                      <button type="submit" class="btn btn-default btn-primary">Hinzufügen</button>
                      <button type="button" class="btn btnAddMailCancel" data-toggle="collapse" data-target="#addMail-{{ camera.id }}">Abbrechen</button>
                    </form>
                </div>
                <button id="addMailBtn-{{ camera.id }}" type="button" data-toggle="collapse" data-target="#addMail-{{ camera.id }}" class="btn btnAddMail btn-primary">Weiteren Empfänger hinzufügen</button>
            </div>
        </div>
    {% endfor %}

    <script type="text/javascript">
        $(document).ready(function() {
            $(".fancybox").fancybox({
                type        : 'image',
                openEffect  : 'none',
                closeEffect : 'none',
                showNavArrows : true
            });
        });
    </script>
{% endblock %}